



/* Botón cuadrado tipo bloque */






/*ESTILOS BARRAS DE TAREAS*/




/*ESTILOS DE FORMULARIOS PROGRESIVOS*/
/* Ocultar formularios por defecto */


/* Estilo pasos formulario */




/*ESTILOS bones siguiente - atras*/

/* Contenedor botones del paso 2 */

/* Botón Siguiente */


.divisor{
    margin-top: 0;
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    margin: 30px 0;
}

.hr {

    grid-column: 1 / -1;
    width: 90%;
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.fileI {
    max-width: 250px;

}

#motivacionCampo {
    text-align: center;
    grid-column: 1 / -1;
}

.tabla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    width: 100%;
    column-gap: 2px;
}

.encabezado {
    text-align: center;
}

.conjuntoEnca {
    margin-bottom: 5px;
    height: 27px;
    border-radius: 5px;
    background-color: #00448a;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    width: 100%;
}

.celda {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.superTittle {
    margin-top: 5px;
    display: grid;
    color: #003865;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border-radius: 5px;

}

#requisitos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column: 1 / -1;
    width: 100%;
}

#titleR {
    display: flex;
    grid-column: 1/-1;
    text-align: center;

}

#form-step-4 {
    max-width: 900px;
}

#parteCoord{
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
}

#observacionesCampo {
    text-align: center;
    grid-column: 1 / -1;
    width: 100%;
}

#ultimo{
    grid-column: 1/-1;
    width: 100%;
}

.añadir{
    background-color: #ccc;
    color: #003865;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
}

